Body {
    background-color: #031221;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.main {
    margin-right: 50px;
    padding-top: 25px;
    padding-left: 30px;
    width: 350px;
    height: 250px;
    border: 2px solid #8dc4ea;
    border-radius: 5px;
}

.container {
    box-sizing: border-box;

}

.count-box {
    box-sizing: border-box;
    width: 320px;
    height: 150px;
    background-color: #8dc4ea;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 30px;
}
.count-value{
    color: #031221;
    font-size: 70px;
    font-weight: 800;
}
.count-limit {
    font-size: 5em;
    color: red;
}

.click-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 320px;
    height: 60px;
    border: 2px solid #8dc4ea;
    border-radius: 5px;
}

/*button*/
.button {
    width: 100px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    background-color: #8dc4ea;
    color: #031221;
    border: 0;
    border-radius: 5px;

}

.button:hover {
    background-color: #afd3ec;
}

.button:active {
    background-color: #d3d8dc;
}
.disabled{
    pointer-events: none;
    opacity: .4;
}
.incorrect-value{
    box-sizing: border-box;
    padding-top: 25px;
    font-size: 25px;
    color: red;
    opacity: .8;
    font-weight: 600;
}
/*input*/
.input {
    margin-top: 10px;
    margin-left: 5px;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    color: #031221;
}
.error-input{
    box-sizing: border-box;
    border:2px solid red ;
    color: red;
    opacity: .8;
}
.label{
    color: #031221;
    font-size: 25px;
    font-weight: 800;
}